.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
echo ".DS_Store" >> ~/.gitignore_global
echo "._.DS_Store" >> ~/.gitignore_global
echo "**/.DS_Store" >> ~/.gitignore_global
echo "**/._.DS_Store" >> ~/.gitignore_globalgit config --global core.excludesfile ~/.gitignore_global
